/******************************************* SELETORES ***********************************************************/
/************************
*seletores universais 

* {
	border: 2px solid green;
}

/************************
Seletor de texto

h1 {
	color: red;
} 

/************************				/**** comente a maioria e teste oq vc quer ver
seletor de classe

p.vermelho {
	color: red; 
} 

/************************
seletor de ID 

#cabecalho {
	border: 3px dotted blue;
} 

/***********************
seletor de filho
li>a {
	text-decoration: none;
	color: pink;
}

/***********************
seletor descendente

p a {
	color: yellow;
}

/***********************
seletor de irmão adjacente

h1+p {
	color: gray;
}

/***********************
seletor de irmao geral

h1~p {
	color: pink;
}
*/


/********************************************************* HERANCA SUBJACENTE ****************************************************/
 /*#pagina p {
 	color: blue !important ;
 }

#pagina p {
 	color: pink;
 }*/

 /*se uma regra for mais especifica que o outro a regra mais especifica sera aplicada 
 (tera precedencia sobre as regras gerais */
/*
 * {
 	color: pink;
 }

 h2 { /*terceiro /
 	color: red;
 } 

h2#amarelo {/*segundo /
 	color: yellow;
 }

 h2.verde { /*primeiro /
 	color: green;
 } /*


 /************************************ BARRA DE NAVEGAÇÃO VERTICAL/LATERAL *******************************************************/
 
 /*ul {
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
 }

 li {
 	padding: 5px 20px;
 	background: url(../imagens/seta.png) no-repeat left center;
 }
 

ul {
 	margin: 0px;
 	padding: 0px;
 	list-style-type: none;
}

ul a {
 	/*border: 1px solid red;//
 	width: 200px;
 	height: 40px;
 	color: black;
 	text-decoration: none;
 	text-indent: 40px;
 	line-height: 40px;
 	display: block;*/ /* eu coloquei esse displau do tipo block pq 
 	por padrao links sao do tipo inline e o width e height nao consegue
 	ser formatado do modo display do tipo block.... porque elementos do 
 	tipo inline dependem do tamanho do conteudo*/
 /*	background:  #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}

a:hover {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
} 

#home #Navegação .home a,
#sobre #navegação .sobre a,
#servicos #Navegação .servicos a {
	background-position: right bottom;
	background-color: blue;
	color: pink;
}*/

/******************************************** BARRA DE NAVEGAÇÃO HORISONTAL ******************************************************/

/*ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x ;
	float: left;
}

ul li {
	/*display: inline; nao e indicado pq voce pode ter mais problemas use float//
	float: left;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2em;
	text-decoration: none;
	color: #fff;
	/*border-left: 1px solid gray; boa forma de dividir mas ele queria usar imagem //
	background: url(../imagens/divisor.png) repeat-y left top ;
}

ul .primeiro a{
	background: none;
	color: #085662;
	background: pink;/* quero saber pra que serve//
}


/*ul a:hover {
	color: #085662;
	background: #44cade;
}

#home #Navegação .home a ,
#sobre #Navegação .sobre a ,
#serviços #Navegação .serviços a {
	color: #085662;
	background: #44cade;
}*/
 /************************ NAVEGAÇÃO COM ABAS /CONTINUAÇÃO estilo2.css ****************************************/

/******************** BARRA DE NAVEGAÇÃO COM ABAS ********************************************************************************/
/*
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}*/
 
/* ul {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 	width: 720px;
 }*/
/*
 ul li {
 	float: left;
 	
 	background: url(../imagens/aba-direita.png) no-repeat top right;
 }*/

/* li a{
 	display: block;
 	/deixa em estilo bloco indepentente do conteudo/
 	padding: 0 2em;
 	line-height: 3em;
 	text-decoration: none;
 	background: url(../imagens/aba-esquerda.png) no-repeat top left;
 	color: #fff;
 }*/
/*
 li a:hover {
 	color: #894a1f; 
 }*/

/*ul #atual  {
	background: url(../imagens/aba-direita-atual.png) no-repeat top right;
}*/

/*ul #atual a {
	background: url(../imagens/aba-esquerda-atual.png) no-repeat top left;
}
*/ 

/****************************************************** LAYOUT DE LARGURA FIXA ***************************************************/

/*body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container  {
	width: 720px;
	margin: 0 auto;
	background: #fff;
}

#marca {
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}

#conteudo {
	width: 520px;
	float: right;
}

#conteudo-principal {
	width: 320px;
	float: left;
	
}

#conteudo-secundario {
	width: 180px;
	float: right;
	background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#navegacao {
	width: 180px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#navegacao ul  {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}*/


/***************************************************   LAYOUT LIQUIDO   **********************************************************/
/*layout liquido é definido por porcentagem e n por pixel
 vc transforma pixel em porcentagem a partir de uma regra de 3 
 baseando-se no valor do seu container 

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container  {
	width: 85%;
	margin: 0 auto;
	background: #fff;
	min-width: 720px;
	/*max-width: 960px; //
}

#marca {
/*	width: 100%; //nao necessario pois uma div ja ocupa 100% do espaco dela //
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}

#conteudo {
	width: 74%;/*520px-> 74.28% -> arredondei //
	float: right;
}
#navegacao {
	width: 24% ;/*180px -> 25.71% -> arredondei //
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#conteudo-principal {
	width: 64%;/*320px ->  regra de 3 -> 64% //
	float: left;
	border: 1px solid green;
	
}

#conteudo-secundario {
	width: 34%; /*180px -> regra de 3 -> 36% //
	float: right;
	background: #d1d1d1;
	border: 1px solid green;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}



#navegacao ul  {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}


/************************************************  IMAGENS LIQUIDAS  *************************************************************/
/*
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container  {
	width: 85%;
	margin: 0 auto;
	background: #fff;
	min-width: 720px;
	max-width: 1280px;
}

#marca {
	width: 100%;
	height: 200px;
	background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
	text-align: center;
	line-height: 200px;
}

//////#imagem {
	width: 90%;
	overflow: hidden;
	border: 1px solid red;
}////

#conteudo {
	width: 74%;/*520px-> 74.28% -> arredondei //
	float: right;
}
#navegacao {
	width: 24% ;/*180px -> 25.71% -> arredondei //
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1;
}

#conteudo-principal {
	width: 64%;/*320px ->  regra de 3 -> 64% //
	float: left;
}

img.img-noticia {
	width: 96%;
	padding: 2%;
}

#conteudo-secundario {
	width: 34%; /*180px -> regra de 3 -> 36% //
	float: right;
	background: #d1d1d1;
	
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#navegacao ul  {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}

/****************************************************** COLUNA FALSA **************************************************************
/* colunas falsas so funcionam em layouts fixos nao funcionam em layouts liquidos*/

/*body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container  {
	width: 960px;
	margin: 0 auto;
	background: #fff url(../imagens/coluna.png) repeat-y left top;
	min-width: 720px;
	max-width: 1280px;

}

#marca {
	width: 100%;
	height: 200px;
	background: #225992 url(../imagens/cabecalho2.jpg) no-repeat center;
	text-align: center;
	line-height: 200px;
}

//////#imagem {
	width: 90%;
	overflow: hidden;
	border: 1px solid red;
}////

#conteudo {
	width: 74%;/*520px-> 74.28% -> arredondei //
	float: right;
}
#navegacao {
	width: 24% ;/*180px -> 25.71% -> arredondei //
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	/*background: #d1d1d1;
}

#conteudo-principal {
	width: 64%;/*320px ->  regra de 3 -> 64% //
	float: left;
}

img.img-noticia {
	width: 96%;
	padding: 2%;
}

#conteudo-secundario {
	width: 180px; /*180px -> regra de 3 -> 36% //
	float: right;
	background: #d1d1d1;
	
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
	padding-left: 20px;
	padding-right: 20px;
}

#navegacao ul  {
	list-style: none;
}

#navegacao li a {
	text-decoration: none;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding: 5px;
}*/

/********************************************  ESTILIZANDO TABELAS **************************************************/
/*body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
	width: 600px;
	border-collapse: separate;

}

th, td {
	
	padding: 7px;

}
 th {
 	text-transform: uppercase;
 	border-top: 1px solid #999;
 	border-bottom: 1px solid #111;
 	text-align: left;
 	font-size: 90%;
 	letter-spacing: 0.1em;
 }

 tr:hover {
 	background-color: #c3e6e5;
 }

tr.alternado {
	background-color: #efefef;
}

.numero {
	text-align: right;
}*/

/************************************************* ESTILIZANDO FORMULARIOS *****************************************************/

/*body {
	font-family: "Trebuchet ms", Helvetica, sans-serif;
}

 fieldset {
 	margin: 1em 0;
 	padding: 1em;
 	border: 1px solid #ccc;
 	background: #f8f8f8;
 }

legend {
 	font-weight: bold;	
 }

label {
	cursor: pointer;
	display: block;
}

input /*[type="text"] // o problema dessde seletor de att e que ele nao e aceito em todo navegador// {
	width: 300px;
}

textarea {
	width: 300px;
	height: 100px;
}

/*input.radio, input.checkbox, input.submit{
	width: auto;
}
//
.radio {
	margin-right: 1em;
	width: auto;
}/*

/***************************************** ESTILIZANDO TABELAS DOIS ***********************************************/

/*body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #643d87 url(../imagens/fundo.jpg) no-repeat top center;
}

#container {
	width: 400px;
	height: 300px;
	background-color: rgba(225,255,255,0.3); /*0.3 representa o nivel de quao transparente é a div///
	border-radius:10px;
		-webkit-border-radius:10px; /*desnecessario//
		-moz-border-radius:10px; /*desnecessario mas faz bem...deixe-o//
	
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
}

#container img {
	width: 120px;
	height: 120px;
	margin-top: -60px; 
	margin-bottom: 30px;
	/*ao aplicar um margin top 
	com a metade da altura (120) em negativo da imagem vc tera
	uma imagem centralizada acima do container//
	
}

input {
	height: 40px;
	width: 80%;
	font-size: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

input.email {
	background-image: url(../imagens/icone-usuario.png);
}

input.senha {
	background-image: url(../imagens/icone-cadeado.png);
}
 input.submit {
 	color: #fff
 	background-color:#f79300;
 	border: 2px solid #db7d00;
 	padding: 5px 20px;
 	height: 45px;
 	width: 90%;

 	background: linear-gradient(to bottom, #faa600, #f68a00);
 	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00); /*Desnecessario//
 	background: -moz-linear-gradient(to bottom, #faa600, #f68a00); /*Desnecessario mas é bom usar //
 	background: -o-linear-gradient(to bottom, #faa600, #f68a00); /*Desnecessario //
/*nao sei se tem importancia eu colocar o primeiro em primeiro lugar o prof colocou 
em ultimo mas eu quis colocar primeiro //
 }*/
 /***************************************** ARREDONDAMENTO COM IMAGENS ****************************************/
 

 /*.caixa {
 	width: 400px;
 	background: #dedede url(../imagens/fundo-arredondamento.png) repeat-y;

 } 

 .caixa h2 {
 	padding: 10px 20px 0px 20px;
 	background: url(../imagens/topo2.png) no-repeat left top;
 }

.caixa p {
	padding: 0 20px;
	margin-bottom: 0px;
}

.caixa .ultimo {
	/*padding-bottom: 20px;//
	background: url(../imagens/baixo2.png) no-repeat left bottom;
	width: 400px;
	height: 24px;
	
}*/

 /*.caixa {
 	width: 400px;
 	background: #dedede url(../imagens/topo2.png) no-repeat left top;

 }
 
 .caixa h2 {
 	padding: 10px 20px 0px 20px;

 }



.caixa p {
	padding: 0px 20px 20px 20px;
	background:  url(../imagens/baixo2.png) no-repeat left bottom;
}*/












