/******************************************* SELETORES ***********************************************************/
/************************
*seletores universais 

* {
	border: 2px solid green;
}

/************************
Seletor de texto

h1 {
	color: red;
} 

/************************				/**** comente a maioria e teste oq vc quer ver
seletor de classe

p.vermelho {
	color: red; 
} 

/************************
seletor de ID 

#cabecalho {
	border: 3px dotted blue;
} 

/***********************
seletor de filho
li>a {
	text-decoration: none;
	color: pink;
}

/***********************
seletor descendente

p a {
	color: yellow;
}

/***********************
seletor de irmão adjacente

h1+p {
	color: gray;
}

/***********************
seletor de irmao geral

h1~p {
	color: pink;
}
*/


/*********************************************** HERANCA SUBJACENTE **************************************************/
 /*#pagina p {
 	color: blue !important ;
 }

#pagina p {
 	color: pink;
 }*/

 /*se uma regra for mais especifica que o outro a regra mais especifica sera aplicada 
 (tera precedencia sobre as regras gerais */
/*
 * {
 	color: pink;
 }

 h2 { /*terceiro /
 	color: red;
 } 

h2#amarelo {/*segundo /
 	color: yellow;
 }

 h2.verde { /*primeiro /
 	color: green;
 } /*


 /************************************ BARRA DE NAVEGAÇÃO VERTICAL/LATERAL *******************************************/
 /*
 ul {
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
 }

 li {
 	padding: 5px 20px;
 	background: url(../imagens/seta.png) no-repeat left center;
 }
 */

/*ul {
 	margin: 0px;
 	padding: 0px;
 	list-style-type: none;
}*/

/*ul a {
 	/*border: 1px solid red;*/
 	/*width: 200px;
 	height: 40px;
 	color: black;
 	text-decoration: none;
 	text-indent: 40px;
 	line-height: 40px;
 	display: block; /* eu coloquei esse displau do tipo block pq 
 	por padrao links sao do tipo inline e o width e height nao consegue
 	ser formatado do modo display do tipo block.... porque elementos do 
 	tipo inline dependem do tamanho do conteudo*/
 	/*background:  #f7b600 url(../imagens/menu.png) no-repeat left bottom;
}/*

a:hover {
	background-position: right bottom;
	background-color: #f99200;
	color: #fff;
} 

#home #Navegação .home a,
#sobre #navegação .sobre a,
#servicos #Navegação .servicos a {
	background-position: right bottom;
	background-color: blue;
	color: pink;
}

/******************************************** BARRA DE NAVEGAÇÃO HORISONTAL ******************************************************/

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
	background: #159cb0 url(../imagens/fundo-horizontal.png) repeat-x ;
	float: left;
}

ul li {
	/*display: inline; nao e indicado pq voce pode ter mais problemas use float*/
	float: left;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2em;
	text-decoration: none;
	color: #fff;
	/*border-left: 1px solid gray; boa forma de dividir mas ele queria usar imagem*/
	background: url(../imagens/divisor.png) repeat-y left top ;
}

ul .primeiro a{
	background: none;
	color: #085662;
	background: #44cade;
}


ul a:hover {
	color: #085662;
	background: #44cade;
}

#home #Navegação .home a ,
#sobre #Navegação .sobre a ,
#serviços #Navegação .serviços a {
	color: #085662;
	background: #44cade;
}


