/*** TRANSIÇÕES ***/
#caixa {
	width: 300px;
	height: 300px;
	background: purple;
	}

#caixa:hover {
	width: 400px;
	background: pink;
	/* o transition possui prefixos*/	
	/*transition: width 3s, background 3s; */
	transition: all 3s; 
}


/*** ANIMAÇÕES ****/

/*@keyframes animacao-caixa {
	from {
		background: purple; 
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to {
		background: pink; 
		border-radius: 300px;
		top: 100px; 
		left: 100px;
		/*top e left permite com q a animação caminhe 
		pelo container body mas para isso: position: relative;//
	}
}

#caixa {
	width: 300px;
	height: 300px;
	background: pink; 
	position: relative;
	//animation-name: animacao-caixa;
	animation-duration: 5s;
		-webkit-animation-duration: 5s;
		-moz-animation-duration: 5s;
		-o-animation-duration: 5s;
	animation-delay: 1s;
	animation-iteration-count: 5;
	animation-direction: alternate;//

	animation: animacao-caixa 5s 1s 5 alternate;
	-webkit-animation: animacao-caixa 5s 1s 5 alternate;
	-moz-animation: animacao-caixa 5s 1s 5 alternate;
	-o-animation: animacao-caixa 5s 1s 5 alternate;
}*/

/*@-webkit-keyframes animacao-caixa {
	from {
		background: purple; 
	}
	to {
		background: pink; 
	}
}

@-moz-keyframes animacao-caixa {
	from {
		background: purple; 
	}
	to {
		background: pink; 
	}
}

@-o-keyframes animacao-caixa {
	from {
		background: purple; 
	}
	to {
		background: pink; 
	}
}*/


/**** SOMBRAS ****/
/*#caixa {
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow: 20px 200px 30px 20px grey;
}

#caixa h1 {
	color: white;
	/*text-shadow: 20px 20px gray;//
	text-shadow: 20px 20px 10px rgba(0,0,0,0.5);

}*/


/**** DEGRADES *****/
/*#caixa{
	width: 300px;
	height: 300px;
	/*background: url("../imagens/camera.png");//
	background: linear-gradient(20deg, pink, purple, blue);
	/*background: radial-gradient( pink, purple, blue,);//
}

#caixa h1{
	background: rgba(255,255,255, 0.5);
}*/


/**** NORMALIZE ****/
/*#caixa {
	width: 300px;
	height: 300px;
	background-color: #b9c941;
	padding:15px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	/*-webkit-border-radius: 00px 220px;
	-moz-border-radius: 00px 220px;
	border-radius: 00px 220px;//

#caixa2 {
	width: 400px;
	height: 300px;
	background-color: pink;
	
	}

//.perfilredondo {
	border-radius: 200px;
	/*border-radius: 10PX 50PX 80px 100px;
}*/


