header {
	border:1px solid red;
	background: pink;
	padding: 20px;
}

nav {
	border: 2px solid green;
	background:purple;
	padding: 10px;
}

footer {
	background-color: gray;
	padding: 5px;
	/*clear: both;*/
}
		/********/
 
article {
 	background-color: orange;
 	padding: 5px;
 	/*float: left;*/
}

section {
 	padding: 4px;
 	border: 2px dotted pink;
}

aside {
	background-color: pink;
	padding: 5px;
	/*float: right;*/
}
